@charset "utf-8";

/*-----------------------------------------------------------------------------------

	bt.cx 2013 - Main Stylesheet

	Author: Enej Pungerčar
	Author URL: http://www.behance.net/aeneas
	Copyright: 2013 bt.cx

-------------------------------------------------------------------------------------
 
	Site Colors
	
	Orange:		#FC810A
	Dark Blue:	#2F3341	rgb(47,51,65)
 
-------------------------------------------------------------------------------------

	0.	Document Setup
	1.	Main Header Styles
	2.	Home Page Content Styles
	3.	Main Content Styles
	4.	Main Footer Styles
	5.	Main Form Styles
	6.	Common Elements and Plugins

------------------------------------------------------------------------------------ */

/*-----------------------------------------------------------------------------------*/
/*	0.	Document Setup
/*-----------------------------------------------------------------------------------*/

*{padding: 0; margin: 0;}

html {
		height: 100%;
}

body {
		/*font-family: 'Open Sans', sans-serif;*/
		font-family: 'Lato', sans-serif;
		font-size: 13px;
		color: #333333;
		background: url(../img/bg.jpg) center;
		font-weight: normal;
		height: 100%;
}

/*---------------------------------------------------------------------- Basic Fonts */
h1, h2, h3, h4, h5, h6 {
		padding: 0;
		margin: 0;
		font-weight: 300;
		font-family: 'Lato', sans-serif;
		color: #ccc;
}
h1 {
		font-size: 2.2em;	
}
h2 {
		font-size: 1.8em;
}
h3 {
		font-size: 1.6em;	
}

/*----------------------------------------------------------------- Basic Selectors */
a {
		text-decoration: none;
		color: #16A6D4;
		cursor: pointer;
}
p {
		padding: 0;
		margin: 0;
		padding-bottom: 15px;
}

b {
		font-weight: 600;
}

img {border: none;}

* html .clearfix,* html .group{height:1%;overflow:visible;}
*+html .clearfix,*+html .group{min-height:1%;}
.clearfix:after {clear:both;content:".";display:block;height:0;visibility:hidden;font-size:0;}

*:focus {outline: none;}

.hide {
		display: none;
}

ul, li {
		margin: 0px;
		padding: 0px;
}
ul li {
		list-style: none;
}
ol li {
		margin-left: 20px;
		*margin-left: 25px;
}
input {
		margin: 0;
		padding: 0;
		border: none;
}
hr {
		border: none;
		border-bottom: 1px solid #ccc;
		height: 1px;
		float: left;
		width: 100%;
}

/*-----------------------------------------------------------------------------------*/
/*	1.	Main Header Styles
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	2.	Home Page Content Styles
/*-----------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------- Index Content */
h1.logo {
		background-image: url(../img/btcx_logo.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 180px 41px;
		height: 41px;
		width: 180px;
		text-indent: -9999em;
		display: block;
		position: absolute;
		left: 50%;
		top: 180px;
		margin-left: -90px;
		padding: 0;
		padding-top: 0%;
}
h2.coming_soon {
		text-align: center;
		color: #fff;
		opacity: 0.5;
		display: block;
		float: left;
		width: 100%;
		margin-top: 100px;
}
.index_content  {
		overflow: hidden;
}
.index_content .container {
		position: relative;
		height: 300px;
		margin-left: -280px;
		top: 0;
		left: 50%;
		width: 560px;
		padding: 0 40px;
		margin-top: 300px;
		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;	
}
.index_content h1 {
		text-align: center;
}
.index_content h2 {
		text-align: center;
		font-size: 1.4em;
		margin-bottom: 5px;
}
.index_content h3 {
		text-align: left;
		font-size: 1.8em;
		margin-top: 25px;
		margin-bottom: -20px;
		color: #9AC635;
}

/*-----------------------------------------------------------------------------------*/
/*	3.	Main Content Styles
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	4.	Main Footer Styles
/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*	5.	Main Form Styles
/*-----------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------- Signin */
form {
		width: 100%;
		display: block;
		float: left;
		text-align: left;
		margin-top: 50px;
}
.index_content form h2 {
		text-align: left;
		margin-bottom: 20px;
		margin-top: 20px;
		float: left;
		width: 100%;
}
.wrap_input {
		margin-bottom: 10px;
		float: left;
		display: block;
		width: 100%;
		position: relative;
}
.wrap_checkbox {
		margin-bottom: 15px;
		float: left;
		display: block;
		width: 100%;
		position: relative;
}
.input {
		padding: 14px 15px;
		width: 71%;
		float: left;
		text-align: left;
		background: rgba(255,255,255,.1);
		color: #999;
		margin-bottom: 12px;
		
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		font-size: 1.4em;
		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		
		-webkit-transition: 0.2s linear all;
		-moz-transition: 0.2s linear all;
		-ms-transition: 0.2s linear all;
		-o-transition: 0.2s linear all;
		transition: 0.2s linear all;
}
.input.full {
		width: 100%;	
}
.label {
		color: #fff;
		padding-left: 15px;
}
/*------------------------------------------------------------------------ Form Text */
.wrap_input span.text {
		display: block;
		float: left;
		width: 100%;
		color: #fff;
		opacity: 0.5;
		font-size: 16px;
		font-weight: 300;
		text-align: center;
		margin-top: 10px;
	
}
/*-------------------------------------------------------------------------- Form Ok */
.form_ok {
		display: none;
		color: #9AC635;
		float: left;
		margin-bottom: 15px;
		width: 100%;
		float: left;
		margin-left: 0px;
		font-size: 1.2em;
		
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		transition: all 0.3s ease;
}
form.ok .form_ok {
		display: block;
}
.wrap_input .input_ok {
		display: none;
		color: #9AC635;
		float: left;
		margin-bottom: 15px;
		width: 100%;
		float: left;
		margin-left: 20px;
		font-size: 1.2em;
		
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		transition: all 0.3s ease;
}
.wrap_input.ok .input_ok {
		display: block;
}
/*---------------------------------------------------------------------- Form Errors */
.form_error {
		display: none;
		color: #F34755;
		float: left;
		margin-bottom: 15px;
		width: 100%;
		float: left;
		margin-left: 0px;
		font-size: 1.2em;
		
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		transition: all 0.3s ease;
}
form.error {
		display: block;
}
.wrap_input .input_error {
		display: none;
		color: #F34755;
		float: left;
		margin-bottom: 15px;
		width: 100%;
		float: left;
		margin-left: 20px;
		font-size: 1.2em;
		
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		transition: all 0.3s ease;
}
.wrap_input.error .input_error {
		display: block;
}

.wrap_input.error .input, 
.wrap_input.error .textarea,
.wrap_input.error .select {
		-webkit-box-shadow: 0 1px 8px rgba(245,71,85,0.8);
		-moz-box-shadow: 0 1px 8px rgba(245,71,85,0.8);
		box-shadow: 0 1px 8px rgba(245,71,85,0.8);
}

.input:focus,
.input.focus,
.wrap_input.error .input:focus,
.wrap_input.error .input.focus {
		color: #fff;
		background: rgba(255,255,255,.2);
}

/*-----------------------------------------------------------------------------------*/
/*	6.	Common Elements and Plugins
/*-----------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------- Buttons */
.button {
		padding: 14px 15px;
		font-family: 'Lato', sans-serif;
		display: inline-block;
		color: #fff;
		font-size: 1.4em;
		text-align: center;
		cursor: pointer;
		background: #FC810A;
		font-weight: 400;
		text-decoration: none;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;
		width: 30%;
		z-index: 10;
		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		transition: all 0.3s ease;
}
.button.block {
		position: relative;
}
.button .labelx {
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		position: relative;
		display: block;
		transition: top 0.3s ease 0s;
		color: #fff;
}
.button:hover{
		background-color: #FA6900;
}
/*.button:hover .labelx {
		top: -100%
}*/
.button.ok {
		background: #9AC635;
}
.button.error {
		background: #F34755;	
}
.button.sending {
		background: rgba(250,105,0,0.5);
		cursor: default;

		animation: heartbeat 1s ease infinite;
		-webkit-animation: heartbeat 1s ease infinite;
}
@keyframes heartbeat {
    0% {
        background: rgba(250,105,0,0.5);
    }
    20% {
        background: rgba(250,105,0,0.9);
    }
    100% {
        background: rgba(250,105,0,0.5);
    };
}
@-webkit-keyframes heartbeat {
    0% {
        background: rgba(250,105,0,0.5);
    }
    20% {
        background: rgba(250,105,0,0.9);
    }
    100% {
        background: rgba(250,105,0,0.5);
    };
}
